.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.menu__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
  margin: 0 auto;
  text-align: center;
  max-width: 780px;
}

.menu__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding-top: 24px;
  margin: 0 auto;
  max-width: 780px;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
  padding-left: 0px;
  margin: 0;
  gap: 100px;
}
